# -*- mode: gitignore; -*-


##############################################################################
## Completions
##############################################################################

/functions/_mise